[submodule "externals/CMake-codecov"]
	path = externals/CMake-codecov
	url = https://github.com/RWTH-HPC/CMake-codecov.git
[submodule "externals/TCIAExplorer"]
	path = externals/TCIAExplorer
	url = https://github.com/taznux/TCIAExplorer.git
