DICOM
software
Documents
References
lib
bin
*build*
dist
DATA
output*
old*
test*
tmp*
CMakeFiles
CMakeCache.txt
.idea
.DS_Store
.Rproj.user
.RData
*~
*.nrrd
*.dcm
*.zip
*.gz
*.TIF
*.tif
*.mha
*.mhd
*.raw
*.jpg
*.png
*.pyc
*.swp
*.a
*.so
*.asv
*.log
*.csv
*.egg*
~*
.ruffus_history.sqlite*
